[Unit]
Description=App container
Requires=traefik.service hub-redis.service hub-mariadb.service hub-meilisearch.service hub-mailpit.service hub-minio.service
After=traefik.service hub-redis.service hub-mariadb.service hub-meilisearch.service hub-mailpit.service hub-minio.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/hub-app:latest
AutoUpdate=local
EnvironmentFile=%h/.config/containers/systemd/hub/config/dev.env
LogDriver=none
Volume=${APP_PATH}:/app:rw,z
Volume=${IMPORT_PATH}:/app/storage/app/import:rw,z
Volume=${MEDIA_PATH}:/app/storage/app/media:rw,z
Secret=tlscert,target=/run/secrets/cert.pem,uid=${UID},gid=${GID}
Secret=tlskey,target=/run/secrets/key.pem,uid=${UID},gid=${GID}
User=${UID}
Group=${UID}
UserNS=keep-id:uid=${UID},gid=${GID}
Network=hub.network
ExposeHostPort=6001
ExposeHostPort=8000
ExposeHostPort=9000
PublishPort=5173:5173

[Install]
WantedBy=multi-user.target
