[Unit]
Description=Redis container

[Service]
TimeoutStartSec=300
Restart=always

[Container]
Image=docker.io/valkey/valkey:latest
AutoUpdate=registry
Exec=valkey-server --save 60 1 --loglevel warning
Volume=hub-redis:/data:rw,Z,U
LogDriver=none
Network=hub.network
ExposeHostPort=6379

[Install]
WantedBy=multi-user.target
