[Unit]
Description=PostgreSQL container

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=300
Restart=always

[Container]
Image=docker.io/library/postgres:latest
AutoUpdate=registry
EnvironmentFile=%h/.config/containers/systemd/hub/config/postgres.env
LogDriver=none
ShmSize=100m
Volume=hub-pgsql:/var/lib/postgresql/data:rw,Z,U
Volume=${DUMP_PATH}:/dump:rw,Z,U
Network=hub.network
PublishPort=5432:5432

[Install]
WantedBy=multi-user.target
