[Unit]
Description=Meilisearch container

[Container]
Image=docker.io/getmeili/meilisearch:latest
AutoUpdate=registry
EnvironmentFile=%h/.config/containers/systemd/hub/config/meilisearch.env
Volume=hub-meilisearch:/meili_data:rw,Z,U
LogDriver=none
Network=hub.network
ExposeHostPort=7700

[Service]
TimeoutStartSec=300
Restart=always

[Install]
WantedBy=multi-user.target
