[Unit]
Description=Nginx container
Requires=hub-app.service
After=hub-app.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/hub-nginx:latest
AutoUpdate=local
EnvironmentFile=%h/.config/containers/systemd/hub/config/nginx.env
LogDriver=none
Volume=${APP_PATH}:/app:ro,z
Volume=${MEDIA_PATH}:/app/storage/app/media:ro,z
Secret=tlscert,target=/run/secrets/cert.pem,uid=${UID},gid=${GID}
Secret=tlskey,target=/run/secrets/key.pem,uid=${UID},gid=${GID}
User=${UID}
Group=${GID}
UserNS=keep-id:uid=${UID},gid=${GID}
Network=hub.network
Network=traefik.network
ExposeHostPort=8443
ExposeHostPort=8443/udp
Label=traefik.enable=true
Label=traefik.http.routers.hub.rule=Host(`hub.lan`)
Label=traefik.http.routers.hub.entrypoints=websecure
Label=traefik.http.routers.hub.tls=true
Label=traefik.http.routers.hub.service=hub
Label=traefik.http.services.hub.loadbalancer.server.port=8443
Label=traefik.http.services.hub.loadbalancer.server.scheme=https

[Install]
WantedBy=multi-user.target
