[Unit]
Description=Nginx container
Requires=hub-app.service
After=hub-app.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/hub-nginx:latest
AutoUpdate=local
EnvironmentFile=%h/.config/containers/systemd/hub/config/nginx.env
LogDriver=none
Volume=${APP_PATH}:/app:ro,z
Volume=${MEDIA_PATH}:/app/storage/app/media:ro,z
User=${UID}
Group=${GID}
UserNS=keep-id:uid=${UID},gid=${GID}
Network=caddy.network
Network=hub.network
ExposeHostPort=8080
ExposeHostPort=8443
ExposeHostPort=8443/udp
ExposeHostPort=2019
PublishPort=5173:5173

[Install]
WantedBy=multi-user.target
