[Unit]
Description=Proxy Caddy container
After=network-online.target
Wants=network-online.target

[Service]
Restart=always
TimeoutStartSec=90

[Container]
Image=docker.io/library/caddy:alpine
AutoUpdate=registry
LogDriver=none
AddCapability=CAP_NET_BIND_SERVICE
Volume=%h/.config/containers/systemd/caddy/config:/etc/caddy:ro,Z
Volume=caddy-data:/data:rw,Z,U
Volume=caddy-config:/config:rw,Z,U
Network=caddy.network
PublishPort=80:80
PublishPort=443:443
PublishPort=443:443/udp

[Install]
WantedBy=multi-user.target
