[Unit]
Description=Schedule container
Requires=hub-worker.service
After=hub-worker.service

[Container]
Image=localhost/hub-app:latest
AutoUpdate=local
LogDriver=none
Exec=/usr/bin/php /app/artisan schedule:work
UserNS=keep-id
Volume=${APP_PATH}:/app:rw,z
Volume=${MEDIA_PATH}:/app/storage/app/media:rw,z
Volume=${IMPORT_PATH}:/app/storage/app/import:rw,z
Network=hub.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
