[Unit]
Description=Minio container

[Container]
Image=docker.io/minio/minio:latest
AutoUpdate=registry
LogDriver=none
EnvironmentFile=%h/.config/containers/systemd/hub/config/minio.env
Exec=minio server /data --console-address ":8900"
Volume=hub-minio:/data:rw,Z,U
Network=hub.network
Network=proxy.network
ExposeHostPort=8900
ExposeHostPort=9000

[Service]
TimeoutStartSec=90
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
