[Unit]
Description=Queue container
Requires=hub.service
After=hub.service

[Container]
Image=localhost/hub-app:latest
AutoUpdate=local
LogDriver=none
Exec=php /app/artisan horizon
UserNS=keep-id
Volume=${APP_PATH}:/app:rw,z
Volume=${MEDIA_PATH}:/app/storage/app/media:rw,z
Volume=${IMPORT_PATH}:/app/storage/app/import:rw,z
Network=hub.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=90
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
