[Unit]
Description=Queue container
Requires=hub.service
After=hub.service

[Container]
Image=localhost/hub:latest
AutoUpdate=local
LogDriver=none
Exec=php /app/artisan horizon
UserNS=keep-id
AddDevice=/dev/dri/:/dev/dri/
Volume=${APP_PATH}:/app:rw,z
Network=hub.network

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=90
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
