[Unit]
Description=hub container
Requires=hub-redis.service hub-pgsql.service hub-meilisearch.service hub-mailpit.service hub-minio.service
After=hub-redis.service hub-pgsql.service hub-meilisearch.service hub-mailpit.service hub-minio.service
Wants=hub-queue.service hub-schedule.service hub-reverb.service

[Container]
Image=localhost/hub:latest
AutoUpdate=local
LogDriver=none
UserNS=keep-id
Volume=${APP_PATH}:/app:rw,z,U
Network=proxy.network
Network=hub.network
ExposeHostPort=8080

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
