[Unit]
Description=Reverb container
Requires=hub.service
After=hub.service

[Container]
Image=localhost/hub-app:latest
AutoUpdate=local
LogDriver=none
Exec=php /app/artisan reverb:start
UserNS=keep-id
Volume=${APP_PATH}:/app:rw,z
Network=hub.network
Network=proxy.network
ExposeHostPort=6001

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=90
Restart=unless-stopped

[Install]
WantedBy=multi-user.target
