[Unit]
Description=PostgreSQL container

[Container]
Image=docker.io/library/postgres:latest
AutoUpdate=registry
LogDriver=none
EnvironmentFile=%h/.config/containers/systemd/hub/config/postgres.env
ShmSize=100m
Volume=hub-pgsql:/var/lib/postgresql/data:rw,Z,U
Network=hub.network
ExposeHostPort=5432

[Service]
TimeoutStartSec=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
