[Unit]
Description=Hub container
Requires=hub-redis.service hub-pgsql.service hub-meilisearch.service hub-mailpit.service hub-minio.service
After=hub-redis.service hub-pgsql.service hub-meilisearch.service hub-mailpit.service hub-minio.service
Wants=hub-queue.service hub-schedule.service hub-reverb.service hub-vod.service

[Container]
Image=localhost/hub:latest
AutoUpdate=local
LogDriver=none
UserNS=keep-id
AddDevice=/dev/dri/:/dev/dri/
Volume=${APP_PATH}:/app:rw,z,U
Volume=${MEDIA_PATH}:/app/storage/app/media:rw,z,U
Volume=${IMPORT_PATH}:/app/storage/app/import:rw,z,U
Network=hub.network
Network=proxy.network
ExposeHostPort=8080
ExposeHostPort=5173

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/config/app.env
TimeoutStartSec=900
Restart=on-failure

[Install]
WantedBy=multi-user.target
