{
    # debug
    local_certs

    servers {
        enable_full_duplex
        trusted_proxies static private_ranges
    }
}

(cors) {
	@origin header Origin {args[0]}
    header @origin Access-Control-Allow-Origin "{args[0]}"
    header @origin Access-Control-Allow-Methods "OPTIONS,HEAD,GET,POST,PUT,PATCH,DELETE"
}

(tls) {
    tls internal
}

import /etc/caddy/sites/*.caddy
