.btn {
    @apply inline-flex w-full shrink-0 cursor-pointer select-none flex-wrap items-center justify-center gap-1 border-transparent;

    &-disabled,
    &[disabled],
    &:disabled {
        @apply pointer-events-none;
    }

    &-gradient {
        @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
    }

    &-primary {
        @apply border-primary-500/50 bg-primary-500;
    }

    &-secondary {
        @apply bg-transparent;
    }

    &-outline {
        @apply border bg-transparent;
    }

    &-sm {
        @apply h-6 max-h-[1.5rem] text-sm;
    }

    &-rounded {
        @apply rounded-sm;
    }
}

/* radio input and checkbox as button */
.btn:is(input[type='checkbox']),
.btn:is(input[type='radio']) {
    @apply w-auto appearance-none;
}

.btn:is(input[type='checkbox']):after,
.btn:is(input[type='radio']):after {
    @apply content-[attr(aria-label)];
}
