[Unit]
Description=App container
Requires=hub-redis.service hub-mariadb.service hub-meilisearch.service hub-mailpit.service
After=hub-redis.service hub-mariadb.service hub-meilisearch.service hub-mailpit.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/hub-app:latest
AutoUpdate=local
Volume=${APP_PATH}:/app:rw,z,U
Volume=${APP_MEDIA_PATH}:/app/storage/app/media:rw,z,U
Secret=tlscert,target=/run/secrets/cert.pem,uid=${APP_UID},gid=${APP_GID}
Secret=tlskey,target=/run/secrets/key.pem,uid=${APP_UID},gid=${APP_GID}
User=${APP_UID}
Group=${APP_GID}
UserNS=keep-id:uid=${APP_UID},gid=${APP_GID}
Network=hub.network
ExposeHostPort=6001
ExposeHostPort=8000
ExposeHostPort=9000
PublishPort=5173:5173

[Install]
WantedBy=multi-user.target
