[Unit]
Description=Redis container

[Service]
Restart=always

[Container]
Image=docker.io/valkey/valkey:latest
AutoUpdate=registry
Volume=hub-redis:/data:rw,Z,U
Exec=valkey-server --save 60 1 --loglevel warning
Network=hub.network
ExposeHostPort=6379

[Install]
WantedBy=multi-user.target
