[Unit]
Description=Minio container

[Service]
Restart=always

[Container]
Image=docker.io/minio/minio:latest
Volume=hub-minio:/data/minio:rw,Z,U
EnvironmentFile=%h/.config/containers/systemd/hub/minio.env
Exec=minio server /data/minio --console-address ":8900"
Network=hub.network
PublishPort=9001:9000
PublishPort=8901:8900

[Install]
WantedBy=multi-user.target default.target
