[Unit]
Description=MariaDB container

[Service]
Restart=always

[Container]
Image=docker.io/library/mariadb:latest
AutoUpdate=registry
EnvironmentFile=%h/.config/containers/systemd/hub/mariadb.env
Volume=hub-mariadb:/var/lib/mysql:rw,Z,U
Network=hub.network
PublishPort=3306:3306

[Install]
WantedBy=multi-user.target
