[Unit]
Description=App container
Requires=hub-redis.service hub-mariadb.service hub-meilisearch.service hub-mailpit.service
After=hub-redis.service hub-mariadb.service hub-meilisearch.service hub-mailpit.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/hub-app
Volume=${APP_PATH}:/app:rw,z,U
User=${APP_UID}
Group=${APP_GID}
UserNS=keep-id:uid=${APP_UID},gid=${APP_GID}
Secret=tlscert,target=/etc/certs/cert.pem,uid=${APP_UID}
Secret=tlskey,target=/etc/certs/key.pem,uid=${APP_UID}
Network=hub.network
ExposeHostPort=9000
PublishPort=5173:5173

[Install]
WantedBy=multi-user.target default.target
