[Unit]
Description=Redis container

[Service]
Restart=always

[Container]
Image=docker.io/library/redis:latest
Volume=hub-redis:/data:rw,Z,U
Network=hub.network
PublishPort=6379:6379

[Install]
WantedBy=multi-user.target default.target
