[Unit]
Description=Hub container
Requires=hub-app.service
After=hub-app.service

[Service]
EnvironmentFile=%h/.config/containers/systemd/hub/app.env
TimeoutStartSec=900
Restart=always

[Container]
Image=localhost/hub-nginx
AutoUpdate=local
Volume=${APP_PATH}:/app:ro,z
Volume=${APP_MEDIA_PATH}:/app/storage/app/media:ro,z
EnvironmentFile=%h/.config/containers/systemd/hub/nginx.env
User=${APP_UID}
Group=${APP_GID}
UserNS=keep-id:uid=${APP_UID},gid=${APP_GID}
Network=hub.network
Network=traefik.network
Label=traefik.enable=true
Label=traefik.http.routers.hub.entrypoints=websecure
Label=traefik.http.routers.hub.tls=true
Label=traefik.http.routers.hub.rule="Host(`hub.lan`) || Host(`ws.hub.lan`)"
Label=traefik.http.services.hub.loadbalancer.server.port="8080"

[Install]
WantedBy=multi-user.target default.target
