[Unit]
Description=Proxy container
Requires=podman.socket
After=podman.socket

[Service]
EnvironmentFile=%h/.config/containers/systemd/traefik/proxy.env
TimeoutStartSec=900
Restart=always

[Container]
Image=docker.io/library/traefik:latest
AutoUpdate=registry
Volume=${PODMAN_SOCKET}:/var/run/docker.sock:ro,z
Volume=./traefik/traefik.yml:/etc/traefik/traefik.yml:ro,Z
Volume=./traefik/dynamic.yml:/etc/traefik/dynamic.yml:ro,Z
SecurityLabelType=container_runtime_t
Secret=tlscert,target=/etc/certs/cert.pem,mode=0600
Secret=tlskey,target=/etc/certs/key.pem,mode=0600
Environment=TRAEFIK_TZ=${TRAEFIK_TZ}
Network=traefik.network
PublishPort=80:80
PublishPort=443:443
PublishPort=8080:8080

[Install]
WantedBy=multi-user.target default.target
