@layer components {
    .btn {
        @apply gap-1.5 rounded border-transparent py-2.5 text-sm font-medium;

        &-gradient {
            @apply bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500;
        }

        &-primary {
            @apply border-primary-500/50 bg-primary-500;
        }

        &-sm {
            @apply h-6 max-h-6 text-sm;
        }
    }
}
