@layer components {
    .dl {
        @apply inline-flex flex-wrap items-center;

        dt:not(.sr-only) {
            @apply pr-1;
        }

        dd:not(.sr-only) {
            &::after {
                @apply pr-1 content-['|'];
            }
        }

        dd:last-child:after {
            @apply pr-0 content-[];
        }
    }
}
