@layer components {
    dd {
        @apply flex appearance-none items-center;
    }

    .list {
        @apply flex items-center *:after:mx-1 *:after:content-["-"];

        :last-child {
            @apply after:hidden;
        }
    }

    .dl {
        @apply flex items-center *:after:mx-1.5 *:after:h-3 *:after:w-[1px] *:after:bg-secondary-400 *:after:content-["\00a0_"];

        :last-child {
            @apply after:hidden;
        }
    }
}
