@layer components {
    .dl {
        @apply flex flex-wrap items-center;

        dd {
            @apply inline-flex items-center;
        }

        dd:not(.sr-only) {
            &::after {
                @apply px-1 content-['|'];
            }
        }

        dd:last-child:after {
            @apply px-0 content-[];
        }

        &-list {
            dd:not(.sr-only) {
                &::after {
                    @apply px-1 content-['-'];
                }
            }

            dd:last-child:after {
                @apply px-0 content-[];
            }
        }
    }
}
