@utility range {
  @apply h-full w-full appearance-none bg-transparent;

  &::-webkit-slider-runnable-track {
    @apply cursor-pointer appearance-none bg-transparent;
  }

  &::-webkit-slider-thumb {
    @apply h-6 w-6 cursor-pointer appearance-none bg-transparent;
  }

  &::-moz-progress-bar {
    @apply cursor-pointer appearance-none bg-transparent;
  }

  &-primary {
    &::-webkit-progress-value {
      @apply bg-pink-500;
    }
  }

  &-secondary {
    &::-webkit-slider-runnable-track {
      @apply bg-gray-500/50;
    }
  }
}
