{
    "name": "hub-devcontainer",
    "remoteUser": "vscode",
    "containerUser": "vscode",
    "containerEnv": {
        "HOME": "/home/vscode"
    },
    "runArgs": [
        "-it",
        "--userns=keep-id",
        "--security-opt=label=disable",
        "--security-opt=seccomp=unconfined",
        "--network=systemd-hub"
    ],
    "build": {
        "dockerfile": "./Dockerfile",
        "context": ".",
        "options": [
            "--format=docker"
        ]
    },
    "features": {
        "ghcr.io/devcontainers/features/common-utils:2": {
            "username": "vscode",
            "userUid": "1000",
            "userGid": "1000",
            "upgradePackages": "true"
        }
    },
    "customizations": {
        "vscode": {
            "settings": {
                "Laravel.phpCommand": "/usr/local/bin/php",
                "php.validate.executablePath": "/usr/local/bin/php",
                "php.executablePath": "/usr/local/bin/php"
            },
            "extensions": [
                "aaron-bond.better-comments",
                "bmewburn.vscode-intelephense-client",
                "bradlc.vscode-tailwindcss",
                "christian-kohler.npm-intellisense",
                "christian-kohler.path-intellisense",
                "davidanson.vscode-markdownlint",
                "dbaeumer.vscode-eslint",
                "devsense.composer-php-vscode",
                "editorconfig.editorconfig",
                "esbenp.prettier-vscode",
                "laravel.vscode-laravel",
                "stylelint.vscode-stylelint",
                "vue.volar"
            ]
        }
    }
}
