[Unit]
Description=Proxy container
Requires=podman.socket
After=podman.socket

[Service]
EnvironmentFile=%h/.config/containers/systemd/traefik/config/proxy.env
TimeoutStartSec=900
Restart=always

[Container]
Image=docker.io/library/traefik:latest
AutoUpdate=registry
Volume=${PODMAN_SOCKET}:/var/run/docker.sock:ro,z
Volume=%h/.config/containers/systemd/traefik/config/traefik.yml:/etc/traefik/traefik.yml:ro,Z
Volume=%h/.config/containers/systemd/traefik/config/dynamic.yml:/etc/traefik/dynamic.yml:ro,Z
SecurityLabelType=container_runtime_t
Secret=tlscert,target=/run/secrets/cert.pem
Secret=tlskey,target=/run/secrets/key.pem
Secret=usersfile,target=/run/secrets/usersfile
Environment=TRAEFIK_TZ=${TRAEFIK_TZ}
LogDriver=none
Network=traefik.network
PublishPort=80:80
PublishPort=443:443
Label=traefik.enable=true
Label=traefik.http.routers.mydashboard.rule="Host(`traefik.hub.lan`)"
Label=traefik.http.routers.mydashboard.entrypoints=websecure
Label=traefik.http.routers.mydashboard.tls=true
Label=traefik.http.routers.mydashboard.service="api@internal"
Label=traefik.http.routers.mydashboard.middlewares=myauth
Label=traefik.http.middlewares.myauth.basicauth.usersfile=/run/secrets/usersfile

[Install]
WantedBy=multi-user.target
