name: tests

on:
  push:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: true
      matrix:
        php: [8.2, 8.3]

    name: PHP ${{ matrix.php }}

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite, pdo_sqlite
          coverage: none

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: |
          composer install --prefer-dist --no-interaction --no-progress
          npm ci

      - name: Prepare Application
        run: |
          cp .env.example .env
          php artisan key:generate
          npm run build

      - name: Execute tests
        run: |
          npm run test
          ./vendor/bin/pest
