name: Run tests

on:
  push:
  pull_request:

jobs:
  run-tests:
    runs-on: ubuntu-latest
    timeout-minutes: 10
    strategy:
      matrix:
        php: [8.2, 8.3]
    services:
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    name: PHP ${{ matrix.php }}

    steps:
      - uses: actions/checkout@v4

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: dependencies-laravel-php-${{ matrix.php }}-composer-${{ hashFiles('composer.json') }}

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: dom, curl, fileinfo, libxml, mbstring, igbinary, msgpack, lzf, zstd, lz4, zip, memcached, redis-phpredis/phpredis@6.0.2, pcntl, pdo, sqlite, pdo_sqlite
          coverage: none
        env:
          REDIS_CONFIGURE_OPTS: --enable-redis --enable-redis-igbinary --enable-redis-msgpack --enable-redis-lzf --with-liblzf --enable-redis-zstd --with-libzstd --enable-redis-lz4 --with-liblz4
          REDIS_LIBS: liblz4-dev, liblzf-dev, libzstd-dev

      - name: Setup Node
        uses: actions/setup-node@v4

      - name: Setup MySQL
        run: |
          sudo /etc/init.d/mysql start
          mysql  -u root -proot -e 'CREATE DATABASE IF NOT EXISTS test;'

      - name: Build application
        run: |
          cp .env.ci .env
          composer install --no-progress --prefer-dist --optimize-autoloader
          php artisan key:generate
          php artisan storage:link
          yarn install && yarn build

      - name: Clear Config
        run: php artisan config:clear

      - name: Execute tests
        run: |
          npm run test
          ./vendor/bin/pest
