@layer base {
    body,
    html {
        @apply relative h-screen min-h-screen bg-gray-950 text-white;
    }

    img {
        @apply text-transparent;

        &::before,
        &::after {
            @apply text-transparent;
        }
    }

    dl {
        @apply inline-flex flex-wrap items-center;

        dd:after {
            @apply pr-1 content-['-'];
        }

        dd:last-child:after {
            @apply pr-0 content-[];
        }
    }
}
