@layer base {
    dd {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    progress {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    ::-webkit-progress-bar,
    ::-webkit-progress-value {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }

    ::-moz-progress-bar {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
}
