@layer base {
    progress {
        appearance: none;
        -webkit-appearance: none;
    }

    ::-webkit-progress-bar,
    ::-webkit-progress-value {
        appearance: none;
        -webkit-appearance: none;
    }

    ::-moz-progress-bar {
        appearance: none;
    }

    ::-webkit-search-decoration,
    ::-webkit-search-cancel-button,
    ::-webkit-search-results-button,
    ::-webkit-search-results-decoration {
        appearance: none;
        -webkit-appearance: none;
    }
}
